*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}



header{
  background-color: rgb(23, 141, 23);
  height: 10vh;
  width: 100%;
}

main{
  background-color: rgb(93, 93, 233);
  height: 90vh;
  width: 100%;
  padding: 10px;
  
}

.main-section-image{
  width: 280px;
  height: 200px;
  border-radius: 10px;
  margin: 5px;
}

.logo{
  width: auto;
  height: 50px;
  border-radius: 5px;

}

ul{
  display: flex;
  list-style: none;
  gap: 10px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  color: white;
}

li{
  cursor: pointer;
}